@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    background-image: url(../assets/images/Purple_Nebula_01-1024x1024.png);
    animation: fadeStars 6s infinite;

}

body {
    width: 100%;
    height: 100%;
    
}
section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#player-ship {
    background-image: url(../assets/images/clipart2761027.png);
    height: 350px;
    width: 350px;
    margin-top: 10%;
    margin-left: 15%;
    animation: hoverShip 4s infinite;
}

fieldset {
    padding: 1% 1% 1% 10%;
    width: 600px;
    border-color: aqua;
    border-radius: 10%;
    box-shadow: 0 0 10px aqua;
    background-color: rgba(158, 152, 152, 0.25);
}

#fieldset-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='button'] {
    height: 50px;
    padding: 3%;
    margin: 5%;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 5px 4px black;
}

input[type='button']:hover {
    box-shadow: 0px 0px black;
    background-color: grey;
}

#stat-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}


.statbar{
    width: 200px;
    height: 50px;
    /* background-color: green; */
    border: 2px solid green;
    margin: 3%;
    box-shadow: 0 0 10px green;
    border-radius: 5%;

}

.stat-health {
    background-color: green;
    width: 100%;
    height: 100%;
}

legend {
    color: white;
    font-size: 30px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(44, 38, 38);
    letter-spacing: -.5px;
    font-family: 'Press Start 2P', cursive;
}
#button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 150px;
}

#player-ship.animateStatInc {
    animation: hoverShip 4s infinite, incStats .1s 3;
}

#player-ship.animateRoll {
    animation: hoverShip 4s infinite, animateRoll .5s linear
}

/* KEYFRAMES */

@keyframes fadeStars {
    0% {
        filter: brightness(1.1);
    }
    50% {
        filter: brightness(1.80);
    }
    100% {
        filter: brightness(1.1);
    }
}

@keyframes hoverShip {
    0% {
        margin-top: 10%;
    }
    50% {
        margin-top: 15%;
    }
    100% {
        margin-top: 10%;
    }
}

@keyframes animateRoll {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes incStats {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.80);
    }
    100% {
        filter: brightness(1);
    }
}